<!DOCTYPE html>
<html>

{{> header }}

<body>
{{> navbar }}

<div class="main-content">

    <div class="page-header">
        <h1>
            {{pageTitle}}
        </h1>
    </div>

    <div class="other-content">
        <div class="jumbotron">
            <p> {{title}} </p>
        </div>

        <form class="form-horizontal" method="post" action="{{webContextPath}}/rest/products/alt-edit/{{product.id}}">
            <div class="form-group">
                <label for="productName" class="col-sm-3 control-label">Product Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="productName" name="name" value="{{product.name}}" placeholder="A product name">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="description" name="description" value="{{product.description}}" placeholder="A product description">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Unit Price</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="price" name="price" value="{{formatDecimal  product.price}}" placeholder="100.00">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-md-offset-4">
                    <button type="submit" name="action" value="Save" class="btn btn-primary">Save</button>
                    &nbsp;
                    <button type="submit" name="action" value="Cancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </form>

        <p class="alert alert-info"> NB: This page is <code>src/main/webapp/edit-product.hbs</code></p>
    </div>

</div>

{{> footer}}
</body>

{{> bottom }}

</html>
