<div class="container fatbottom">
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>&copy; 2015, 2016 XeNoNiQUe, UK &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p class="slogan"> I can definitely help you.</p>

        <div class="other-content">
            <a href="http://xenonique.co.uk/blog/" title="Peter Pilgrim's Blog">
                <img src="{{webContextPath}}/images/XeNoNiQUe-Logo-2011-01-233x175-72dpi.png" />
            </a>
        </div>

        <p>Under MVC, this view name is <code>{{viewName}}</code></p>

        <p>
            <a href="https://glassfish.java.net/"> <img src="{{webContextPath}}/images/glassfish_logo.jpg" width="128" height="65"/> </a>
            <a href="http://twitter.com/peter_pilgrim"> <img src="{{webContextPath}}/images/twitter-bird-white-on-blue.png" width="64" height="64" /> </a>
            <a href="https://plus.google.com/117513042687634436539/posts"> <img src="{{webContextPath}}/images/Google-Plus-Logo.png" width="64" height="64" /> </a>
        </p>
    </footer>
</div>
