<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Person View</title>
    <link href="{{webContextPath}}/styles/bootstrap.css" rel="stylesheet">
    <link href="{{webContextPath}}/styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="page-header">
        <h1> Handlebars Java EE 8 MVC </h1>
    </div>

    <div class="other-content">
        <h1>Person</h1>
        <div>{{person.firstName}}</div>
        <div>{{person.lastName}}</div>
        <div>{{person.age}}</div>
    </div>
</body>
<script src="{{webContextPath}}/javascripts/jquery-2.1.3.js"></script>
<script src="{{webContextPath}}/javascripts/bootstrap.js"></script>
<script src="{{webContextPath}}/app/main.js"></script>
</html>